/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
.bg-wrapper {
  background: #ECE6CF;
  height: 85vw;
  width: 100vw;
  background-image: -webkit-linear-gradient(105deg, #0F1F40 50%, #ECE6CF 50%);
  position: relative;
}
@media (max-width: 1024px) {
  .bg-wrapper {
    height: 100vw;
  }
}
@media (max-width:834px) {
  .bg-wrapper {
    height: 120vw;
    background-image: -webkit-linear-gradient(115deg, #0F1F40 50%, #ECE6CF 50%);
  }
}
@media (max-width: 450px) {
  .bg-wrapper {
    height: 600px;
  }
}
.bg-wrapper .branch-dot {
  position: absolute;
  top: 0;
  left: 35vw;
  width: 20vw;
}
@media (max-width: 1024px) {
  .bg-wrapper .branch-dot {
    left: 45vw;
    width: 25vw;
  }
}
@media (max-width:834px) {
  .bg-wrapper .branch-dot {
    display: none;
  }
}
.bg-wrapper .pitcher {
  position: absolute;
  top: 8vw;
  right: 3vw;
  width: 15vw;
}
@media (max-width: 1024px) {
  .bg-wrapper .pitcher {
    width: 13vw;
    top: 4vw;
  }
}
@media (max-width:834px) {
  .bg-wrapper .pitcher {
    display: none;
  }
}
.bg-wrapper .phone1 {
  position: absolute;
  width: 17vw;
  left: 52vw;
  top: 15vw;
}
@media (max-width: 1024px) {
  .bg-wrapper .phone1 {
    width: 22vw;
    left: 57vw;
    top: 17vw;
  }
}
@media (max-width:834px) {
  .bg-wrapper .phone1 {
    width: 26vw;
    top: 10vw;
    left: 63vw;
  }
}
@media (max-width: 450px) {
  .bg-wrapper .phone1 {
    top: 80px;
  }
}
.bg-wrapper .portafilter {
  position: absolute;
  width: 20vw;
  top: 39vw;
  left: 10vw;
}
@media (max-width: 1024px) {
  .bg-wrapper .portafilter {
    left: 4vw;
    top: 35vw;
  }
}
@media (max-width:834px) {
  .bg-wrapper .portafilter {
    width: 32vw;
    left: 7vw;
    top: 45vw;
  }
}
@media (max-width: 450px) {
  .bg-wrapper .portafilter {
    top: 50vw;
    width: 35vw;
  }
}
.bg-wrapper .phone2 {
  position: absolute;
  width: 23vw;
  bottom: -5vw;
  right: 5vw;
}
@media (max-width: 1024px) {
  .bg-wrapper .phone2 {
    display: none;
  }
}
@media (max-width:834px) {
  .bg-wrapper .phone2 {
    display: block;
    width: 36vw;
    right: 9vw;
    bottom: -8vw;
  }
}
@media (max-width: 450px) {
  .bg-wrapper .phone2 {
    display: none;
  }
}
.bg-wrapper .phone3 {
  display: none;
}
@media (max-width: 1024px) {
  .bg-wrapper .phone3 {
    position: absolute;
    display: block;
    width: 27vw;
    left: 22vw;
    top: 47vw;
  }
}
@media (max-width:834px) {
  .bg-wrapper .phone3 {
    display: none;
  }
}
.bg-wrapper .logo {
  position: absolute;
  left: 8vw;
  top: 10vw;
  width: 35vw;
  max-width: 475px;
}
@media (max-width: 1024px) {
  .bg-wrapper .logo {
    left: 7vw;
    top: 10vw;
  }
}
@media (max-width:834px) {
  .bg-wrapper .logo {
    top: 9vw;
    width: 50vw;
  }
}
@media (max-width: 450px) {
  .bg-wrapper .logo {
    left: 5vw;
  }
}
.cta {
  left: 35vw;
  margin: auto;
  position: absolute;
  bottom: 10vw;
}
@media (max-width: 1024px) {
  .cta {
    left: 57vw;
    bottom: 8vw;
  }
}
@media (max-width:834px) {
  .cta {
    left: 5vw;
    bottom: 5vw;
  }
}
@media (max-width: 450px) {
  .cta {
    left: 20vw;
  }
}
.cta h3 {
  color: #FCA800;
  font: bold 2rem Roboto;
  margin-bottom: 2vw;
}
@media (max-width:675px) {
  .cta h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 450px) {
  .cta h3 {
    font-size: 1.5rem;
  }
}
.cta p {
  color: #ECE6CF;
  font: 2rem Roboto;
}
@media (max-width:675px) {
  .cta p {
    font-size: 1.5rem;
  }
}
@media (max-width: 450px) {
  .cta p {
    font-size: 1.5rem;
  }
}
.bottom-wrapper {
  display: flex;
  align-items: flex-start;
}
.bottom-wrapper .image-wrapper {
  width: 30vw;
}
@media (max-width: 1024px) {
  .bottom-wrapper .image-wrapper {
    width: 45vw;
  }
}
@media (max-width:834px) {
  .bottom-wrapper .image-wrapper {
    display: none;
  }
}
.bottom-wrapper .image-wrapper .bottom-image {
  width: 25vw;
}
@media (max-width: 1226px) {
  .bottom-wrapper .image-wrapper .bottom-image {
    width: 35vw;
  }
}
.bottom-wrapper .bottom-info {
  margin: 2vw;
  margin-top: 8vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.bottom-wrapper .bottom-info .wrapper {
  display: flex;
}
@media (max-width: 1226px) {
  .bottom-wrapper .bottom-info .wrapper {
    display: block;
    width: 55vw;
    margin: auto;
    text-align: center;
  }
}
@media (max-width: 450px) {
  .bottom-wrapper .bottom-info .wrapper {
    width: 90vw;
  }
}
.bottom-wrapper .bottom-info h2 {
  font: bold 2em Roboto;
  color: #0F1F40;
  margin-bottom: 1em;
  padding: 20px;
}
@media (max-width: 1226px) {
  .bottom-wrapper .bottom-info h2 {
    font-size: 1.5rem;
  }
}
.bottom-wrapper .bottom-info .coming-soon {
  background-color: #FCA800;
  padding: 5px 10px;
  border-radius: 10px;
  box-sizing: border-box;
  display: inline-block;
  margin-top: 40px;
}
@media (max-width: 1226px) {
  .bottom-wrapper .bottom-info .coming-soon {
    margin: auto;
  }
}
.bottom-wrapper .bottom-info h4 {
  font: 2em Roboto;
  color: #0F1F40;
  margin-bottom: 1em;
}
@media (max-width: 1226px) {
  .bottom-wrapper .bottom-info h4 {
    font-size: 1.5em;
  }
}
.bottom-wrapper .bottom-info .feature-section {
  display: flex;
  font: bold 1rem Roboto;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
}
.bottom-wrapper .bottom-info .feature-section .feature {
  width: 411px;
  height: 154;
  margin: 10px;
  padding: 45px 20px 0 150px;
}
.bottom-wrapper .bottom-info .feature-section .timer {
  background-image: url("../resources/timer.svg");
  height: 154px;
  width: 411px;
}
.bottom-wrapper .bottom-info .feature-section .search {
  background-image: url("../resources/search.svg");
  height: 154px;
  width: 411px;
  padding-top: 65px;
}
.bottom-wrapper .bottom-info .feature-section .share {
  background-image: url("../resources/save.svg");
  height: 154px;
  width: 411px;
  padding-top: 55px;
}
.bottom-wrapper .bottom-info .feature-section .log {
  background-image: url("../resources/log.svg");
  height: 154px;
  width: 411px;
}
.bottom-wrapper .bottom-info .feature-section .learn {
  background-image: url("../resources/learn.svg");
  height: 154px;
  width: 411px;
  padding-top: 55px;
}
.bottom-wrapper .bottom-info .feature-section .rate {
  background-image: url("../resources/rate.svg");
  height: 154px;
  width: 411px;
  padding-top: 55px;
}
